.header {
  background-color: #121212;
  text-align: center;
 
}


li {color: #ffffff;
	letter-spacing: 1px;
	}

h1 {color: #03DAC6;
	text-align: center;
	padding: 0 20px;
	}

h2 {
	color: #fff;
}

.kolorowe {
	color: #03DAC6
}

img {
	object-fit: contain;
	height: 100%; 
	width: 100%;	
}

html {
	background-color: #121212;
}
.iframe-container {
	height: 540px;
}

.body {
	margin: 0 auto;
	width: 950px;
	padding: 0 20px 20px 20px;
	color: white;
	text-align: justify;
	line-height: 1.6;
}

.column {
  float: left;
  width: 31%;
  padding: 10px;
}

.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  position: relative;
  display: none;
}

#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.footer {
  background-color: #F1F1F1;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 2.5rem;
  color: black;
  left: 0;
}


.topnav {
	overflow: hidden;
	background-color: black;
}
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: black;

}
.topnav a:hover {
	background-color: #03DAC6;
	color: white;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

